@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*
{
    padding: 0;
    margin:  0;
}

:root
{
    --color_primario: #000000;
    --color_secundario: #f6f6f6;
    --color_terciario: #22d4fd;
    --color_hover: #272727;
    --fuente_montserrat: "Montserrat", sans-serif;
    --fuente_krona: "Krona One", sans-serif;
}

body
{
    background-color:var(--color_primario);
    color:var(--color_secundario);
    box-sizing: border-box;
}

.header
{
    padding: 2% 0% 0% 15%;
}

.menu_header
{
    display: flex;
    gap: 80px;
}

.link_menu_header
{
    font-family: var(--fuente_montserrat);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color_terciario);
    text-decoration: none;
}

strong
{
    color: #22d4fd;
}

.presentacion
{
    display: flex;
    align-items: center;
    padding: 3% 15%;
    justify-content: space-between;
    gap: 82px;
}

.contenido_presentacion
{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.contenido_presentacion_titulo
{
    font-size: 2.25rem;
    font-family: var(--fuente_krona);   
}

.titulo_destaque
{
    color: var(--color_terciario);
}

.contenido_presentacion_texto
{
    font-size: 1.5rem;
    font-family: var(--fuente_montserrat);
}

.presentacion_links
{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.presentacion_links_subtitulo
{
    font-size: 1.5rem;
    font-family: var(--fuente_krona);
    font-weight: 400;
    
}

.presentacion_links_boton
{
    width: 50%;
    text-align: center;
    padding: 21.5px 0;
    border-radius: 8px;
    font-family: var(--fuente_montserrat);
    font-size: 1.5rem;
    font-weight: 600px;
    text-decoration: none;
    color: var(--color_secundario);
    border: 2px solid var(--color_terciario);
    display: flex;
    justify-content: center;
    gap: 10px;
}

.presentacion_links_boton:hover
{
    background-color: var(--color_hover);
}

.imagen_presentacion
{
    width: 50%;
}

.footer
{
    background-color: var(--color_terciario);
    padding: 24px;
    color: var(--color_primario);
    text-align: center;
    font-family: var(--fuente_montserrat);
    font-size: 1.5rem;
    font-weight: 300;

}

@media (max_width:1200px)
{
    .header
    {
        padding: 10%;
    }

    .menu_header
    {
        justify-content: center;
    }

    .presentacion
    {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .contenido_presentacion
    {
        width: auto;
    }
}