@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*
{
    padding: 0;
    margin:  0;
}


body
{
    background-color:black;
    color: #f6f6f6;
    box-sizing: border-box;
}

.header
{
    padding: 2% 0 0 15%;
}

.menu_header
{
    display: flex;
    gap: 80px;
}

.link_menu_header
{
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #22d4fd; 
}

strong
{
    color: #22d4fd;
}

.presentacion
{
    display: flex;
    align-items: center;
    padding: 6% 15%;
    justify-content: space-between;
}

.contenido_presentacion
{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.contenido_presentacion_titulo
{
    font-size: 36px;
    font-family: "Krona One", serif;   
}

.titulo_destaque
{
    color: #22d4fd;
}

.contenido_presentacion_texto
{
    font-size: 24px;
    font-family: "Montserrat", serif;
}

.presentacion_links
{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.presentacion_links_subtitulo
{
    font-size: 24px;
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    
}

.presentacion_links_boton
{
    width: 378px;
    text-align: center;
    padding: 21.5px 0;
    border-radius: 8px;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 600px;
    text-decoration: none;
    color: #f6f6f6;
    border: 2px solid #22d4f2;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.presentacion_links_boton:hover
{
    background-color: #272727;
}

.footer
{
    background-color: #22d4fd;
    padding: 24px;
    color: #000000;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 400;

}
